/* -- reset -- */

* {
	box-sizing: border-box;
	} 

body, h1,h2,p,ul,li,a {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
    color: white;
}

img {
	display: block;
	max-width: 100%;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.background{
    background: url("../img/earth.jpg") no-repeat;
    background-size: auto;
}


/* LOGO */

.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

/* MENU */

.menu{
    display: flex;
    justify-content: space-around;
    font-family: 'Teko', sans-serif;
    font-size: 24px;
}

.menu a:hover{
    color: rgba(255,255,255,.5);
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* MENU-TOP */

.menu-bg{
    background-color: #1c304f;
}

.menu-top{
    display: flex;
    justify-content: space-around;
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    align-items: center;
}

.menu-nav{
    display: flex;
}

.menu-nav a{
    padding: 0px 20px;
}

.dropdown-content-top {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: #1c304f;
}

.dropdown:hover .dropdown-content-top {
    display: block;
}

/* FOOTER */

.rodape{
    display: flex;
    justify-content: space-around;
    background-color: rgba(2,44,79,.5);
    bottom: 0;
    position: absolute;
    width: 100%;   
    padding: 50px 20px 50px 20px;
}

.rodape p {
    color: white;
    font-family: 'Cairo', sans-serif;
}

.rodape a:hover{
    color: rgba(255,255,255,.5);
}

.social{
    display: flex;
    flex-direction: column;
}

.fab{
    padding: 0px 20px 0px 0px; 
}

/* RESPONSIVO */

@media only screen and (max-width: 767px){
    
}
 
 
}


